/* src/QuizAttempt.css */
/* .quiz-container {
  background-color: #0c1e3c;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.question-header {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.question-text {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.option-button {
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
}

.option-button:focus {
  outline: 2px solid #007bff;
}

.next-button {
  background-color: #28a745;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.next-button:hover {
  background-color: #218838;
} */

.quiz-attempt-container {
  background-color: #041325;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-container {
  height: 643px;
  width: 1066px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.question-header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.question-header span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #474444;
}

.question-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #474444;
  text-align: center;
  margin-top: 10px;
}

.options {
  margin-top: 20px;
  margin-left: 133px;
  height: 299px;
  width: 790px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  gap: 20px;
}

.option-button {
  height: 112px;
  width: 320px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 10px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 52px;
  color: #000000;
}
.selected-option {
  border: 5px solid #5076ff;
  border-radius: 10px; /* Customize the border color and style */
}
.option-image-url {
  height: 159px;
  width: 324px;
  border-radius: 10px;
  object-fit: cover;
}

.next-button {
  height: 56px;
  width: 320px;

  border-radius: 10px;

  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 32px;

  cursor: pointer;
  background-color: #60b84b;
  color: #ffffff;
  margin-top: 50px;
  margin-left: 35%;
}

.textimgurl-option {
  height: 159px;
  width: 320px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

.textimgurl-option img {
  height: 121px;
  width: 136px;
  border-radius: 10px;
}

.textimgurl-option span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}
